body {
    margin: 0;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    min-width: 1920px;
    background-color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 0 0;
}

ul {
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


/* Header
************* */

.header {
    width: 100%;
    padding-top: 75px;
}

.wrapper--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__logo {
    display: flex;
    cursor: pointer;
    transition: opacity linear .1s;
}

.header__logo:hover {
    opacity: .5;
}

.header__title {
    margin-left: 20px;
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    color: #FFF;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 720px;
    list-style: none;
}

.nav__item {
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFF;
    text-decoration: none;
    transition: opacity linear .1s;
}

.nav__item:hover {
    opacity: .5;
}


/* Welcome
************* */

.welcome {
    padding-top: 190px;
    height: 825px;
    background-image: url(assets/img/background-welcome.jpg);
    background-position: calc(100% - 0px) calc(100% - 0px);
    background-repeat: no-repeat;
}

.title {
    font-family: 'Forum', cursive;
    font-size: 80px;
    font-weight: normal;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF
}

.welcome__subtitle {
    margin-top: 25px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.welcome__btn {
    margin-top: 75px;
    width: 360px;
    height: 75px;
    border: none;
    background: #710707;
    border-radius: 10px;
    cursor: pointer;

    padding-left: 68px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: background linear .1s;
}

.welcome__btn:hover {
    background: #9d8665;
}


/* Visiting
************* */

.visiting {
    background: #FFFFFF;
    height: 1265px;
    padding: 75px 0;
}

.title--visiting {
    color: #9D8665;
    position: relative;
    margin-bottom: 103px;
}

.title--visiting::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

.visiting__cards {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 78px;
    column-gap: 60px;
}

.cards__item {
    display: block;
    width: 440px;
    height: 422px;
    cursor: pointer;
    transition: opacity .1s linear;
}

.cards__item:hover {
    opacity: .7;
}

.card__photo {
    width: 440px;
    height: 285px;
}

.card__title {
    font-family: Forum;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    margin-top: 20px;
}

.card__title::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 140px;
    height: 2px;
    background-color: #710707;
}

.card__subtitle {
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    margin-top: 22px;
}

.card__text {
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-top: 8px;
}


/* Explore
************* */

.explore {
    height: 865px;
    padding: 75px 0;
}

.explore__inner {
    display: flex;
    justify-content: space-between;
}

.explore__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 241px;
}

.title--explore {
    position: relative;
    margin-bottom: 78px;
}

.title--explore::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0px;
    height: 3px;
    background-color: #710707;
}

.explore__text {
    max-width: 659px;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.yellow {
    color: #CAAA7D;
}

.explore__photo {
    margin-top: 15px;
    max-width: 720px;
    max-height: 700px;
}


/* Video
************* */

.video {
    height: 1009px;
    padding: 90px 0 75px;
    background: #FFFFFF;
}

.video__content {
    position: relative;
    height: 714px;
}

.play {
    padding: 0;
    max-width: 220px;
    max-height: 220px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 28.7%;
    left: 42.3%;
}

.video__photo {
    max-width: 1440px;
    max-height: 629px;
}

.video__player {
    width: 100%;
    height: 85px;
    background-color: #000;
    position: absolute;
    bottom: 0;
}

.player {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 34%;
    transition: opacity .1s linear;
}

.progress {
    background: linear-gradient(to right, #24809E 0%, #24809E 47%, #fff 47%, #fff 100%);
    height: 8px;
    width: 820px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    position: absolute;
    top: 43.9%;
    left: 16.6%;
}
  
.progress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #FFFFFF;
    right: 5%;
}

.progress--volume {
    width: 155px;
    left: 80.4%;
}

.player:hover {
    opacity: .7;
}

.player--prev {
    left: 2.9%;
}

.player--play {
    left: 7.6%;
}

.player--next {
    left: 12%;
}

.player--volume {
    right: 20.8%;
}

.player--fs {
    top: 30%;
    right: 2.82%;
}

.video__info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.title--video {
    color: #9D8665;
}

.video__text {
    margin-top: 6px;
    max-width: 720px;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    color: #000;
}